/*--------------
fonts
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/*--------------
global style
-------------*/
/*define custom css variables*/
:root {
    --bg-black-900: #000000;
    --bg-lightgreen: #3e996f;
    --bg-darkgreen: #02353c;
    --text-white: #ffffff;


    --text-black-700: #ffffff;
    --text-black-600: #ffffff;
    --text-black-300: #3fd0c9;
    --outer-shadow: 3px 3px 3px #3dcc78, -3px -3px 3px #4dff96;
    --outer-shadow-0: 0 0 0 #4dff96, 0 0 0 #8aecf3;
    --inner-shadow: inset 3px 3px 3px #2d995a, inset -3px -3px 3px #2d995a;

}

body {
    /* font-size: 16px; */
    line-height: 1.5;
    overflow-x: hidden;
    /* background-color: var(--bg-darkgreen); */
    /* background: linear-gradient(to bottom, var(--bg-darkgreen), var(--bg-lightgreen), var(--bg-darkgreen)); */


}

*:not(i) {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:before,
:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hover-in-shadow:hover::after {
    box-shadow: var(--inner-shadow);
}

.align-items-center {
    align-items: center;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(to right, #24c798, #3fd379, #51df63);
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-1:after {
    border-radius: 30px;
}


@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-white);
    text-transform: uppercase;
    margin: 0;
}

.section-title h2:before {
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}



/*------------
navigation menu
--------------*/
/* Styles for small screens */

.navbar {
    background-color: var(--bg-darkgreen);
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .bar {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease;
  }

  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-menu li {
    margin-left: 15px;
  }

  .navbar-menu li a {
    color: #ffffff;
  }
  .navbar-menu li a:hover {
    color: #36f194;
    transition: all .3s ease-in-out;
  }

  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
    }

    .navbar-toggle .bar {
      background-color: #73c417;
    }

    .navbar-menu.active {
      display: flex;
      flex-direction: column;
    }

    .navbar-menu.active li {
      margin-left: 0;
      margin-top: 10px;
    }

  }
/*--------------
home section
-------------*/
.home section {
    position: relative;
}

.home-section .full-screen {
    padding: 50px 0;
    min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;

}

.home-section .home-text p {
    color: var(--text-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}

.home-section .home-text h2 {
    font-size: 55px;
    font-weight: 700;
    color: var(--text-white);
    margin: 0;
}

.home-section .home-text h1 {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-black-700);
    margin: 0;
    text-transform: capitalize;
}

.home-section .home-text .btn-1 {
    margin-top: 30px;
}

.home-section .home-img .img-box {
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.home-section .home-img .img-box img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

/*-------------
 about section
 --------------*/
.about-section {
    padding: 80px 0 0;
    min-height: 100vh;
    display:block;

}

.about-section .about-img {
    flex: 0 0 40%;
    max-width: 30%;
    padding: 0 15px;
}

.about-section .about-img .img-box {
    padding: 15px;
    border-radius: 5px;
    ;

}

.about-section .about-img .img-box img {
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

.about-section .about-img .social-links {
    margin-top: 20px;
    text-align: center;
}

.about-section .about-img .social-links a {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    color: var(--text-black-600);
    margin: 0 4px;
    transition: all 0.3s ease;
}

.about-section .about-img .social-links a i {
    line-height: 40px;

}


.about-section .about-img .social-links a:hover {
    color: #e91111
}

.about-section .about-info {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.about-section .about-info p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);

}

.about-section .about-info span {
    font-weight: 600;
    font-style: italic;
}

.about-section .about-info .btn-1 {
    margin: 30px 20px 0 0;
}


/* TIMELINE ABOUT SECTION */
.about-section .about-tabs {
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.about-section .about-tabs .tab-item {
    display: inline-block;
    margin: 5px 15px;
    cursor: pointer;
    padding: 5px 20px;
    transition: all 0.3s ease;
    font-size: 16px;
    color: var(--text-black-600);
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}

.about-section .about-tabs .tab-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #24c798, #3fd379, #51df63);
    transform: skewX(-40deg);
    z-index: -1;
    transition: all 0.3s ease;
}


.about-section .about-tabs .tab-item:hover:not(.active) {
    opacity: 0.6;
}

.about-section .about-tabs .tab-item.active {
    color: #ffffff;
}

.about-section .tab-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}

.about-section .tab-content.active {
    display: block;
    animation: fadeInTop 0.5s ease;
}


.about-section .education,
.about-section .experience {
    padding-bottom: 80px;
}

.about-section .timeline {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.about-section .timeline:before {
    content: '';
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: var(--bg-lightgreen);
    position: absolute;
}

.about-section .timeline .timeline-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 50px);

}

.about-section .timeline .timeline-item:nth-child(even) {
    padding-left: calc(50% + 50px);

}

.about-section .timeline .timeline-item-inner {
    padding: 30px;
    border-radius: 5px;
    position: relative;
}

.about-section .timeline .timeline-item-inner:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: var(--bg-lightgreen);
    top: 37px;
    z-index: -1;
}

.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before {
    right: -30px;
}

.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before {
    left: -30px;
}

.about-section .timeline .timeline-item-inner .icon {
    height: 40px;
    width: 40px;
    background-color: var(--bg-darkgreen);
    text-align: center;
    border: 1px solid var(--bg-lightgreen);
    line-height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 18px;
}

.about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: -70px;
}

.about-section .timeline .timeline-item:nth-child(even) .icon {
    left: -70px;
}

.about-section .timeline .timeline-item-inner span {
    font-weight: 500;
    color: #ffffff;
    display: block;
    margin: 0 0 10px;
}

.about-section .timeline .timeline-item-inner h3 {
    font-size: 20px;
    color: var(--text-black-700);
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: capitalize;
}

.about-section .timeline .timeline-item-inner h4 {
    font-size: 16px;
    font-style: italic;
    color: var(--text-black-600);
    margin: 0;
}

.about-section .timeline .timeline-item-inner p {
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 15px 0 0;
}

/* TESTING PURPOSES */
/* Slider styles */
.slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slider-images {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.arrow {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.prev {
    margin-left: 10px;
}

.next {
    margin-right: 10px;
}

/* Slider content styles */


/* matrix*/
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* Set canvas width to 100% of the viewport width */
    height: 100vh;
    /* Set canvas height to 100% of the viewport height */
    z-index: -1;
}

/* TEST */

.carousel {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    border: 2px solid --bg-darkgreen;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right, #24c798, #3fd379, #51df63);
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 550px;
    /* Set the desired height of the carousel */
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-caption h5 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 16px;
    margin-bottom: 20px;
}

.carousel-item.active .carousel-caption {
    opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.about, .timeline-content {
    background-color: #02353c;
    padding: 40px 0;
    border-radius: 50px;
    border: 2px solid #2f815b;
    margin-bottom: 200px;
}

/* Modal CSS */
/* Modal CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  margin-top: 20px;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input[type="text"],
.modal input[type="tel"],
.modal input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.modal button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal button[type="submit"]:hover {
  background-color: #45a049;
}

/*  */
.links {
    color: inherit;
    text-decoration: underline;
  }

  .links:hover{
    color: #4dff96;
    transition: all 0.3s ease;
  }
/*  TIMELINE SECTION RESPONSIVE*/
@media screen and (max-width: 480px) {
    .about-section .timeline .timeline-item {
      flex: 0 0 100%;
      max-width: 120%;
      padding: 0 15px;
    }

    .about-section .timeline .timeline-item:nth-child(odd),
    .about-section .timeline .timeline-item:nth-child(even) {
      padding-right: 15px;
      padding-left: 15px;
    }

    .about-section .timeline .timeline-item-inner {
      padding: 20px;
    }

    .about-section .timeline .timeline-item-inner:before {
      top: 30px;
    }

    .about-section .timeline .timeline-item-inner h3 {
      font-size: 18px;
      margin: 0 0 4px;
    }

    .about-section .timeline .timeline-item-inner h4 {
      font-size: 14px;
    }

    .about-section .timeline .timeline-item-inner p {
      font-size: 14px;
      line-height: 22px;
      margin-top: 12px;
    }
  }

  /* Home section */
  @media screen and (max-width: 480px) {


    .home-section .full-screen {
      padding: 30px 0;
      min-height: auto;
    }

    .home-section .home-text,
    .home-section .home-img {
      flex: 1;
      max-width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }


    .home-section .home-text h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    .home-section .home-text h1 {
      font-size: 18px;
    }

      .home-section .home-text .btn-1 {
        position: absolute;
        left: 35%;
      }


    .home-section .home-img .img-box img {
      width: 100%;
      border-radius: 50%;
      border: 5px solid transparent;
    }


  }


  /* TESt */
  @media screen and (max-width: 480px) {
    .about-section {
        margin: 10px;
      padding: 40px 10px;
      min-height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .about-section * {
      display: block;
    }

    .about-section .about-img {
      max-width: 100%;
      padding: 50px;
      margin-bottom: 30px;
    }

    .about-section .about-img .img-box {
      padding: 0;
    }

    .about-section .about-img .img-box img {
      border: none;
    }

    .about-section .about-img .social-links {
      margin-top: 15px;
    }

    .about-section .about-img .social-links a {
      font-size: 16px;
      margin: 0 2px;
      line-height: normal;
    }

    .about-section .about-info {
      max-width: 90%;
    }

    .about-section .about-info p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;
      padding-left: 40px;
    }

    .about-section .about-info .btn-1 {
        text-align: center;
      margin: 20px 0 0;
    }

    .about-section .timeline .timeline-item-inner .icon {
        display: none;
      }

      .about-section .timeline .timeline-item:nth-child(odd) .icon,
      .about-section .timeline .timeline-item:nth-child(even) .icon {
        display: none;
      }
      .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before {
        display: none;
    }

    .about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before {
        display: none;
    }
  }
